{% extends "base.html" %}

{% block content %}



<!-- Main Title Section -->
<div class="title-left" style="top: 150px; left: 50px; font-size: 48px;">
    Gastric Cancer Detection
</div>

<!-- About Us Section -->
<div class="predictions-container" style="max-width: 1500px; margin: 400px auto 50px auto; text-align: center; padding: 30px;">
    <h2>About Us</h2>
    <p>This platform is powered by an AI-generated model designed to assist in the early detection of gastric cancer using histopathological images.</p>
    <p>While our system offers valuable insights, it is not a substitute for professional medical advice. For accurate diagnosis and treatment, please consult a qualified healthcare provider.</p>
    
</div>

{% endblock %}
